.custom_clip_path {
  position: relative;
  z-index: -1;
  background-color: red;
}

.custom_clip_path::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: green;
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 20%,
    100% 100%,
    98% 100%,
    71% 73%,
    57% 38%,
    27% 30%
  );
  clip-path: polygon(
    0 0,
    100% 0,
    100% 20%,
    100% 100%,
    98% 100%,
    71% 73%,
    57% 38%,
    27% 30%
  );
}

.titl {
  z-index: 2;
}
